<!-- Footer -->
<footer class="text-center text-white" style="background-color: #0a4275;">
  <!-- Grid container start-->
  <div class="container p-2">
    <div class="d-flex justify-content-between">
      <!-- Copyright start-->
      <div class="py-1">
        © 2024 Copyright:
        <a class="text-white" href="#">shiv0707.com</a>
      </div>
      <!-- Copyright end-->
      <div>
        <span class="me-2">Register for free</span>
        <button data-mdb-ripple-init type="button" (click)="onRegisterClick()" class="btn btn-outline-light btn-rounded">
          Register Now!
        </button>
      </div>
    </div>
  </div>
  <!-- Grid container end-->
</footer>
<!-- Footer -->