<div class="content flex-grow-1">
  <!-- Navbar start here -->
  <div class="container-fluid py-1">
    <app-navbar></app-navbar>
  </div>
  <!-- Navbar end here -->

  <!-- Main body start here -->
  <div class="container">
    <div class="scrollable-div">
      <app-student-list></app-student-list>
    </div>
  </div>
  <!-- Main body end here -->
</div>

<!-- Footer start here -->
<footer class="footer py-1" style="height: 80px;">
  <div class="container-fluid">
    <app-footer></app-footer>
  </div>
</footer>
<!-- Footer end here -->